th, td {
  padding: 5px;
}
footer {
    display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
#box
{
width:70%;
text-align:left;
}
textarea {
  width: 70%;
  height: 100px;
}
.topnav {
  background-color: #ffffff;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 14px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #aa0e0e;
  color: white;
}

body {
  font-family:'Times New Roman', Times, serif
}